<div class="pigmg1">
    <div class="ptext">
        <span class="border">
            stonesotneotneotn
        </span>
    </div>
</div>

<section class="section section-light">
    <h2>Section one</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, optio. Eius sunt, totam laboriosam cupiditate quae perspiciatis architecto commodi esse aliquam quas in ipsum dolores aliquid nulla, quod ad? Ea facere vero sunt, iusto velit incidunt
        quisquam nostrum enim rerum commodi sed beatae culpa eaque quae, architecto facilis? Debitis delectus minus reprehenderit iste blanditiis iure. Veritatis provident distinctio in eos temporibus quae dolor earum aliquam quod? Numquam veritatis,
        magnam vel ab consequuntur aspernatur ad, sunt suscipit maiores eveniet saepe aliquam nostrum dolores minima eaque accusantium provident, officiis aut cumque earum? Praesentium veritatis id non voluptates aliquam nesciunt asperiores natus cumque.
    </p>
</section>

<div class="pigmg2">
    <div class="ptext">
        <span class="border">
                Img 2 text
            </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Section two</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, optio. Eius sunt, totam laboriosam cupiditate quae perspiciatis architecto commodi esse aliquam quas in ipsum dolores aliquid nulla, quod ad? Ea facere vero sunt, iusto velit incidunt
        quisquam nostrum enim rerum commodi sed beatae culpa eaque quae, architecto facilis? Debitis delectus minus reprehenderit iste blanditiis iure. Veritatis provident distinctio in eos temporibus quae dolor earum aliquam quod? Numquam veritatis,
        magnam vel ab consequuntur aspernatur ad, sunt suscipit maiores eveniet saepe aliquam nostrum dolores minima eaque accusantium provident, officiis aut cumque earum? Praesentium veritatis id non voluptates aliquam nesciunt asperiores natus cumque.
    </p>
</section>

<div class="pigmg3">
    <div class="ptext">
        <span class="border">
            Img 3 text
        </span>
    </div>
</div>

<section class="section section-dark">
    <h2>Section three</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, optio. Eius sunt, totam laboriosam cupiditate quae perspiciatis architecto commodi esse aliquam quas in ipsum dolores aliquid nulla, quod ad? Ea facere vero sunt, iusto velit incidunt
        quisquam nostrum enim rerum commodi sed beatae culpa eaque quae, architecto facilis? Debitis delectus minus reprehenderit iste blanditiis iure. Veritatis provident distinctio in eos temporibus quae dolor earum aliquam quod? Numquam veritatis,
        magnam vel ab consequuntur aspernatur ad, sunt suscipit maiores eveniet saepe aliquam nostrum dolores minima eaque accusantium provident, officiis aut cumque earum? Praesentium veritatis id non voluptates aliquam nesciunt asperiores natus cumque.
    </p>
</section>